<header id="header">
  <a href="https://twinberrylane.github.io" class="logo"><img src="https://twinberrylane.github.io/public/images/twinberrylane.png" width="20%" /></a>
  <ul class="icons">
    <li><a href="https://twitter.com/twinberrylane" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://github.com/twinberrylane" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://www.linkedin.com/organization/twinberrylane/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://twinberrylane.github.io/atom.xml" class="icon fa-rss"><span class="label">RSS</span></a></li>
  </ul>
</header>
